.box {
  height: 100%;
  overflow-y: scroll;

}
.card {
  background-color: aliceblue;
  border: 1px black solid;
  border-radius: .5em;
  cursor: pointer;
}
.card:hover {
  background-color: white;
}

.container {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.container-header {
  height: 25%;
}
.content{
  display: flex;
  flex-direction: row;
  height: 75%;
}
.data {
  background-color: whitesmoke;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-container {
  background-color: aquamarine;
}
#search {
  display: flex;
  flex-direction: column;
}
#location {
  color: blue
}