.box {
  height: 100%;
  overflow-y: scroll;

}
.card {
  background-color: aliceblue;
  border: 1px black solid;
  border-radius: .5em;
  cursor: pointer;
}
.card:hover {
  background-color: white;
}

.container {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.container-header {
  height: 25%;
}
.content{
  display: flex;
  flex-direction: row;
  height: 75%;
}
.data {
  background-color: whitesmoke;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.suggestions{
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.suggestions:hover {
  background-color: aqua;
}
#search {
  display: flex;
  flex-direction: column;
}
#location {
  color: blue
}